.img_herra {
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0.5;
    width: 560px;
    height: 520px;
    border-radius: 50%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .conte{
        background-color: #ff0000;
  }
  


