<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clima</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngIf="clima">
      <ion-card-header>
        <ion-card-title>Información del Clima</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ubicación: {{ clima.name }}, {{ clima.sys.country }}</p>
        <p>Temperatura: {{ clima.main.temp }}K</p>
        <p>Descripción: {{ clima.weather[0].description }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
